.avatar {
    width: 20vw;
    height: 20vh;
    border-radius: 50%; /* Make it circular */
    overflow: hidden;
    background-color: lightgray; /* Fallback background color */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blueviolet;
  }
  
  .avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Maintain image aspect ratio */
  }