.project{
  margin: 0;
  padding:0 10vw;
    height: 100vh;
  }
  .list-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .horizontal-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
  }
  
  .list-item {
    padding: 20px;
    border: 1px solid #ccc;
    margin: 0 5px;
    width: 20vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .container{
    display: grid;
    grid-template-columns: auto auto auto;
  }
  .column{
    flex: 2;
    height: 20vh;
    width: 20vw;
    padding: 2vw;
    margin: 1vw; /* Set your desired background color */
    border-radius: 10px; 
    background-color: #202127;/* Add rounded corners if desired */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
  }
  p{
    text-align: justify;
    color: aliceblue;
  }
  .project-title{
    color: #DFDFD6;
    padding-bottom: 5px;
    font-size: 1.5em;
  }
  .project-subtitle{
    height: 12vh;

    color: #98989F;
    font-size: 1em;
  }
  .project-icon{
    padding-top: 2vh;
  }
  .text-link{
    color: #DFDFD6;
    padding-bottom: 5px;
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
    transition-duration: 0.5s;
    &:hover, &:focus, &:active{
      cursor: pointer;
      color: #646CFF !important;
    }
  }