.home{
  margin: 0;
  padding: 0 10vw;
  height: 100vh;
}
.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.row-icons{
  display: flex;
  align-items: center;
  padding: 3px 3px;
}
.my-image{
  width: 30vw;
  height: auto;
}
.custom-icon-link{
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  transition: transform 0.4s;
}
.logo-container{
  margin:10px 20px 0 0;
}
.icon path{
  margin:10px 20px 0 0;
  width: 50px;
  height:50px;
  transition: fill 1.5s;
}
.custom-icon-link:hover .icon {
  width: 55px;
  height:55px; /* Larger icon size on hover */
}
.icon:hover path{
  fill: aliceblue;
}
svg{
  width: 50px;
  height: 50px;
}
.elevated-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: #3498db; /* Button background color */
  border: none;
  margin: 10px 0;
  border-radius: 20px;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.elevated-button:hover {
  transform: translateY(-3px); /* Lift the button on hover */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Apply a subtle box shadow for the elevated effect */
}

.elevated-button:active {
  transform: translateY(1px); /* Simulate pressing the button */
  box-shadow: none; /* Remove box shadow on active state */
}

